[submodule "tradeshow/enterprise-kinectdatavis/src/libfreenect"]
	path = tradeshow/enterprise-kinectdatavis/src/libfreenect
	url = https://github.com/OpenKinect/libfreenect.git
[submodule "basicsuite/qtwebbrowser/tqtc-qtwebbrowser"]
	path = basicsuite/qtwebbrowser/tqtc-qtwebbrowser
	url = ssh://codereview.qt-project.org:29418/qt-apps/qtwebbrowser

